<h1>Edit Category</h1>

<%= form_for(@category) do |f| %>
  <div class="field">
    <%= f.label :category[name], 'Category Name:' %><br>
    <%= f.text_field :category[name] %>
  </div>

  <div class="actions" , "Update category">
    <%= f.submit  %>
  </div>
<% end %>
